#popup-container {
    width: 300px;
    font-size: 16px;
    background: #e8eaec;
    color: #515a6e;
    border: 1px solid #dcdee2;
    border-radius: 4px;
    margin: -4px;
    padding: 0 6px;
}

#popup-container .now {
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    color: #17233d;
}

#popup-container .festival-line {
    height: 30px;
    line-height: 30px;
}

#popup-container .festival-line :is(.name, .date, .distance) {
    color: #ed4014;
    font-weight: bold;
}